.profileAvatar {
  width: 80%;
  height: 100%;
  margin: 3rem auto;
  color: #707070;
}

.avatarPreview {
  width: 150px;
  height:150px;
  margin: 3rem auto;
  display: block;
  border-radius: 75px;
  border-color: #DAE1EA;
}


.mainBtn {
  background: #D45974;
  color: #fff;
  border-radius: 15px;
  width: 50%;
  margin: 3rem auto;
  border: none;
  display: block;
  padding: 0.5rem;
}

.fileInput {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.fileInput + label {
  color: #1E3560;
  display: block;
  font-weight: bold;
  width: 50%;
  text-align: center;
  margin: 0.5rem auto;
}