.pipeCard {
  background: #FFF;
  padding: 1rem;
  position: relative;
  border-radius: 5px;
  margin: 2rem;
  width: 90%;
  height:200px;
  box-shadow: -2px 2px 5px 5px rgba(0,0,0,0.15);
}

.pipeCard:hover{
  transition: 0.2s;
  filter: opacity(0.9);
  background: #f5f5f5;
  box-shadow: -2px 2px 5px 8px rgba(0,0,0,0.15);
}

.star {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
}

.icon {
  width: 25%;
  margin: 5vh auto;
  padding: 20px 0;
  background: #365DA8;
  border-radius: 5px;
}
.icon > p {
  text-align: center;
  color: white;
}

.projectName {
  font-weight: bold;
  font-size: 1.5rem;
}
.cardContent { 
  position: absolute;
  color: #505050;
  margin: 1rem;
  bottom: 0;
  left: 0;
}

.cardAmount {
  font-size: 85%;
}