.filterWrapper {
  width: 100%;
  background: #FFF;
  color: #5b5b5b;
  height: 15vh;
}

.filterSection > p{
  font-weight: bold;
  margin: 0.5rem;
}

.tagSection {
  max-width: 1560px;
  margin: 0 auto;
  padding: 0.5rem;
}

.filterSection {
  display: flex;
  align-items: center;
  max-width: 1560px;
  margin: 0 auto;
  padding: 0.5rem;
}

.filterIcons {
  display: flex;
}

.filterIcons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem;
  font-size: .5rem;
  cursor:pointer;
}


.filterSwitch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
}

.filterSwitch > p {
  margin: 0 1rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.filterOn {
  color: #1E3560;
}
.filterOff {
  color: #808080;
}

.searchBarWrapper {
  display: flex;
  width: 35%;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

.searchBar {
  width: 100%;
  border: none;
}

.tagButtons {
  margin: 0.5rem 0;
}

.redTagButton, .yellowTagButton, .blueTagButton {
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  border: 2px solid;
  background: #fff;
}

.redTagButton {
  color: #D45974;
  border-color: #D45974;
}

.redTagButton:hover{
  color: white;
  background: #D45974;
  transition: 0.2s;
}

.yellowTagButton {
  color: #E8B967;
  border-color: #E8B967;
}

.yellowTagButton:hover{
  color: white;
  background: #E8B967;
  transition: 0.2s;
}

.blueTagButton {
  color: #7FADE9;
  border-color: #7FADE9;
}

.blueTagButton:hover{
  color: white;
  background: #7FADE9;
  transition: 0.2s;
}