.itemCard {
  width: 100%;
  position: relative;
  margin: 1.5rem 0;
  padding: 5px;
  height: 110px;
  color: #5b5b5b;
  background: #fff;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
}

.itemCard:hover {
  transition: 0.2s;
  filter: opacity(0.9);
}

.cardName {
  font-weight: bold;
  font-size: 1.25rem;
}

.cardDesc { 
  font-size: 0.75rem;
}

.icons {
  display: flex;
  position: absolute;
  bottom: 5px;
  left:0;
  color: #808080;
}

.icons svg {
  margin: 0 10px;
  vertical-align: baseline;
}

.deadline {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  font-size: 0.75rem;
  border-radius: 25px;
  font-weight: bold;
  color: #FFF;
}