.itemCard {
  width: 100%;
  position: relative;
  margin: 1.5rem 0;
  padding: 5px;
  height: 100px;
  color: #5b5b5b;
  background: #fff;
  box-shadow: -5px 5px 5px rgba(0,0,0, 0.15);
}

.itemCard:hover {
  transition: 0.2s;
  filter: opacity(0.9);
  background: #f5f5f5;
  box-shadow: -5px 5px 5px 5px rgba(0,0,0, 0.15);
}

.cardName {
  font-size: 1.25rem;
  font-weight: bold;
}

.cardDesc, .icons, .deadline {
  font-size: 0.75rem;
}

.icons {
  position: absolute;
  bottom: 5px;
  left:0;
  color: #808080;
}

.icons > * {
  display: inline-block;
  margin: 5px;
}

.deadline {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  border-radius: 25px;
  font-weight: bold;
  color: #FFF;
}