@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
}
body {
  background: #DAE1EA;
}

.container {
  max-width:1560px;
  margin: 0 auto;
}
